@page "/"

<PageTitle>Login</PageTitle>
<div class="img-background">
	
	
	@if (false){
		<LoginForm></LoginForm>
	}
	else
	{
		<Register></Register>
	}
</div>

@code{
	private readonly string? password ; 
	private void nav_register(MouseEventArgs e)
	{
		throw new NotImplementedException();
	}
}


