@page "/"
@inject AuthenticationStateProvider _authState


<PageTitle>Login</PageTitle>
<div class="img-background">
	
	
	@if (true){
		<LoginForm></LoginForm>
	}
	else
	{
		<Register></Register>
	}
</div>

@code{
	
	private string username;

	protected override async Task OnInitializedAsync()
	{
		var authState = await _authState.GetAuthenticationStateAsync();
		var user = authState.User;
		username = user.Identity.IsAuthenticated ? user.Identity.Name : "Guest";
	}
}


