
.achievement-page {
	background-image: url("Assets/deer.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow : auto;
	position: fixed;
	width: 100%;
	height: 101vh;
	top: 50%;
	left: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
	text-align: center;
	color: rgb(238, 238, 238);
}
.achievement-page::-webkit-scrollbar {
	display: none;
}

.Achievements-container {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 30px auto;
	
}
.Achievement {
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	padding: 1rem;
	border: 2px solid black;
	border-radius: 8px;
	gap: 1rem;
	background: linear-gradient(90deg,rgb(75, 0, 130,0.5),rgb(50, 0, 80,0.5));
}
.Achievement:hover {
	background: linear-gradient(90deg,rgb(80, 0, 140,0.8),rgb(60, 0,110,0.8));
}
.Achievement-img {
	background-image: url("Assets/placeholder.jpg");
	width: 150px;
	height: 150px;
	background-size: cover;
	background-position: center;
	margin-left: 15px;
	margin-right: 50px;
}
.Achievement-details {
	text-align: left;
}
.Achievement-completion {
	text-align: center;
}