@page "/experience"
@inject AuthenticationStateProvider _authState
@inject ExperienceService _experienceService
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:false))


<PageTitle>Experience History</PageTitle>
<div class="exp-page">
	<h1>Exp History</h1>
	<h4>Current Streak Bounus : @StreakBounus</h4>

	@foreach (var exp in _exps)
	{
		<div class="exp">
			<h4>@exp.Name</h4>
			<h5>Exp Gained : @exp.Points</h5>
		</div>

	}

</div>
<div class="good-job-img"></div>




@code{
	public List<Experience> _exps { get; set; } = new();
	public int user_id { get; set; }
	public float StreakBounus { get; set; }

	protected async override Task OnInitializedAsync()
	{
		await _authState.GetAuthenticationStateAsync();
		user_id = ((CustomAuthProvider)_authState).GetUserID();
		_exps = await _experienceService.GetExperiencesByUserID(user_id);
		StreakBounus = await _experienceService.GetStreakBonus(user_id);
		await base.OnInitializedAsync();
	}
}