.dropdown {
	width: 80%	;
	border: none;
	overflow: hidden;
	margin : auto;
	border-radius : 10px;
}

.dropdown-checkbox {
	display : none ;
}

.dropdown-btn {
	display: block;
	width: 100%;
	padding: 10px;
	background: linear-gradient(90deg,rgb(155, 126, 189,0.5),rgb(212, 190, 228,0.5));
	border: none;
	border-bottom: 1px solid white;
	text-align: left;
	cursor: pointer;
	font-size: 25px;
}

.dropdown-content {
	max-height: 0;
	overflow: auto;
	background: linear-gradient(90deg,rgb(155, 126, 189,0.5),rgb(212, 190, 228,0.5));
	transition: max-height 0.5s ease;
	padding-left: 10px;
	padding-right: 10px;
}

.dropdown-checkbox:checked ~ .dropdown-content {
	max-height: 300px; 
}

.habit {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: 100px;
	padding: 5px;
	border-bottom: 1px solid white;
	font-size: 18px;
	white-space: break-spaces;
	transition: background 0.2s ease;
}
.habit-text {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap : 200px;
}
.habit-name{
	max-width : 100px;
	max-height : 500px;
}
.habit:hover {
	background: linear-gradient(90deg, rgb(19, 0, 60, 0.3),rgb(195, 0, 233, 0.3)) !important;
}



.habit-buttons {
	display: flex;
	flex-direction: row;
	justify-content : flex-end;

	gap: 50px;
	height: 50px;
}
.complete {
	background-color: rgb(153, 180, 204);
}
.edit {
	background-color: rgb(160, 140, 100);
}
.delete {
	background-color: rgb(255, 102, 120);
}


.habit-button {
	width: 100px;
	border-radius: 10px;
	height: 50px;
}
.add {
	background-color: rgb(76, 175, 80);
	margin: auto;
	width: 500px;
}

.habit-button p {
	margin : auto;
}
