@page "/Habits"
@inject HabitService _habitService
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:false))
@inject NavigationManager nav

<div class="Habits-page">
	<h1>Habits</h1>

	<HabitDropdown UpdateHabits="RefreshHabits" Title="Daily Habits  ▼" Habits="_NotCompletedHabits" Completed="false"></HabitDropdown>
	<br /><br /><br /><br />
	<HabitDropdown UpdateHabits="RefreshHabits" Title="Completed habits  ▼" Habits="_CompletedHabits" Completed="true"></HabitDropdown>

	<h3>
		Current Streak :   @Streak    🔥
		
	</h3>
</div>


@code {
	private List<Habit> _Habits = new List<Habit>();
	private List<Habit> _CompletedHabits = new List<Habit>();
	private List<Habit> _NotCompletedHabits = new List<Habit>();
	public int Streak { get; set; } = 0;

	protected override async Task OnInitializedAsync()
	{
		_Habits = await _habitService.GetHabits();
		_CompletedHabits = await _habitService.GetCompletedHabits(6); // replace with userid
		_NotCompletedHabits = await _habitService.GetNonCompletedHabits(6); // replace with userid
		Streak = await _habitService.CurrentStreak(6); //replace with userid
	}
	public async Task RefreshHabits()
	{
		_CompletedHabits = await _habitService.GetCompletedHabits(6); // replace with userid
		_NotCompletedHabits = await _habitService.GetNonCompletedHabits(6); // replace with userid
		Streak = await _habitService.CurrentStreak(6); //replace with userid
	}
	protected async override Task OnAfterRenderAsync(bool firstRender)
	{
		
		await base.OnAfterRenderAsync(firstRender);
	}



}
