<div class="form-container">
	<h3>Enter your Name & Password</h3>
	<div class="login">

		<input type="text" id="name" placeholder="Username" />

		<input type="password" id="pwd" placeholder="Password" />

		<button type="submit">Login</button>
		<h6>Don't have an account ?  <a>register</a> </h6>
	</div>

</div>

@code {

}
